<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="borrowedBook">
            <h2><span jhiTranslate="jhipsterSampleHazelcastMonoApp.borrowedBook.detail.title">Borrowed Book</span> {{ borrowedBook.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleHazelcastMonoApp.borrowedBook.borrowDate">Borrow Date</span></dt>
                <dd>
                    <span>{{ borrowedBook.borrowDate }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleHazelcastMonoApp.borrowedBook.book">Book</span></dt>
                <dd>
                    <div *ngIf="borrowedBook.bookId">
                        <a [routerLink]="['/book', borrowedBook.bookId, 'view']">{{ borrowedBook.bookName }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleHazelcastMonoApp.borrowedBook.client">Client</span></dt>
                <dd>
                    <div *ngIf="borrowedBook.clientId">
                        <a [routerLink]="['/client', borrowedBook.clientId, 'view']">{{ borrowedBook.clientEmail }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/borrowed-book', borrowedBook.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
